<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }
        #main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #cont {
            padding: 2rem;
            box-shadow: 0rem 0rem 0.4rem;
            width: 50%;
            display: inline;
        }
    </style>
</head>

<body>
    <%- include('./header.ejs') %>
        <div id="main">
            <div id="cont">
                <%- blog.blogContent%>
            </div>
        </div>
</body>

</html>